body {
    background-color: #dfc19b;
    display: flex;
    font-family: 'Ranchers';
    justify-content: center;
}

.container {
    width: 250px;
    background-color: #eeecd6;
    border-radius: 20px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.button {
    background-color: #ac9828;
    border-radius: 10px;
    align-self: center;
    font-family: cursive;
    font-size: 20px;
    transition: all 0.25s;
}

.button:hover {
    font-size: 21px;
    background-color: #ac9838;
}


#input {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    background-color: #f1efe1;
    font-family: cursive;
    font-size: 20px;
}

#result {
    color: #181A25;
    font-size: 40px;
    align-self: center;
    letter-spacing: 7px;
}
